
@{
    ViewBag.Title = "New";
}

<h2>新增客戶</h2>
<form method="post" action="~/Customer/Save">
    <div>
        姓名:<br />
        <input name="txtName" type="text" />
    </div>
    <div>
        電話:<br />
        <input name="txtPhone" type="text"  />
    </div>
    <div>
        電子郵件:<br />
        <input name="txtEmail" type="text" />
    </div>
    <div>
        地址:<br />
        <input name="txtAddress" type="text" />
    </div>
    <div>
        密碼:<br />
        <input name="txtPassword" type="text"/>
    </div>
    <div>
      <input  type="submit" value="送出"/>
    </div>
</form>
