
@{
    ViewBag.Title = "demoForm";
}

<h2>demoForm</h2>
<form method="post">
    <input name="txtA" type="text" value=@ViewBag.a />X2+
    <input name="txtB" type="text" value=@ViewBag.b />X+
    <input name="txtC" type="text" value=@ViewBag.c />X=?
    <br /><br />
    <input value="OK" type="submit" />X=@ViewBag.Ans
</form>
