
@{
    ViewBag.Title = "showById";
}

<h2>showByid</h2>

<p>
    @{ if (ViewBag.kk == null)
        {
            <h2>沒有資料!!</h2>
            <img src="~/image/3.jpg" width="200" height="160" />
        }
        else
        {
            <h2>@ViewBag.KK.fName</h2>
            <img src="~/image/@(ViewBag.kk.fId).jpg" width="200" height="160" />
            <br />
            @ViewBag.kk.fPhone@:/ @ViewBag.kk.fEmail
        }
    }

</p>

